extends ../layout
block content
    .container.user-center-layout
        .row
            .col-sm-3.col-xs-12.user-info-sidebar.findcards-sidebar
                .name-card
                    h2.name
                        span#user_name #{user.name}
                        a#name_change_sign(type='button',onclick="nameChange()", href='#')
                            span.glyphicon.glyphicon-pencil
                            | 修改名字
                    #user_name_placeholder
                    h3.username= user.username
                .info-card
                    p.join-time 加入于 #{joinDate}
                .sidebar-footer.findcards-footer.hidden-xs
                    p &copy;#{year} We <span class="glyphicon glyphicon-heart"></span> findCards. <br> Makes a better world. <br> <a href="/policies/#privacy-policy"> 隐私权</a> <a href="/policies/#terms"> 条款 </a> <a href="/policies/#exemption"> 免责声明 </a>

            .col-sm-9.com-xs-12.user-profile-card
                nav.user-profile-nav
                    a(href='/user', role='tab', class= {active: (!tab || tab == 'default')}).user-profile-nav-item
                        | 全部记录
                        span.counter= count.total
                    a(href='/user?tab=pick', role='tab', class= {active: tab == 'pick'}).user-profile-nav-item
                        | 捡到的卡
                        span.counter= count.pick
                    a(href='/user?tab=lose', role='tab', class= {active: tab == 'lose'}).user-profile-nav-item
                        | 丢失的卡
                        span.counter= count.lose
                if(!tab || tab == 'default' || tab == 'pick' || tab == 'lose')
                    .user-profile-cards-list#user-profile-cards
                    .user-profile-cards-list-refresher#user-profile-cards-refresher
                        .layout
                            button.btn-getmore#refresher-btn(onclick="getMoreReports()") 载入更多
                        .loading-sign#loadingSign

block script
    script#user-profile-card-template(type="text/x-custom-template")
        .user-profile-cards-list#user-profile-cards
            .item-card.row(id='report_%reportid%' ,fc-reportid='%reportid%')
                .col-sm-4.col-sm-push-8.col-xs-12.item-card-right
                    .layout
                        h3.item-card-reportid %reportid%
                        h2.item-card-reportstatus %reportstatus%
                .col-sm-8.col-sm-pull-4.col-xs-12.item-card-left
                    a(href='/card/%reportid%').item-card-title-bar
                        span.type %user-report-type%
                        span.date %user-report-at%
                    .item-card-info-bar
                        h4
                            span(class='%class-for-cardno%') %cardno%
                            span(class='%class-for-studentno%') %studentno%
                        h5.picker-name %picker-name%
                        h5.loser-name %loser-name%
                    .item-card-footer
                        p 最后更新于 %update-at%
    script#loading-sign-template(type = "text/x-custom-template")
        .loader
            svg.circular(viewBox="25 25 50 50")
                circle.path(cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10")
        .text
            p 正在载入
    script#userid(type='text')= user._id
    script#_user_name(type='text')= user.name
    script#name-changer-template(type = "text/x-custom-template")
        .input-group
            input.name_changer#name_changer.form-control(value=user.name, onblur="nameChangeSubmit()", maxlength="25")
            span.input-group-btn
                button.btn.btn-success#btn-submit(onclick="") 提交
    script(type='text/javascript', src='/javascripts/usercenter_adaptor.js')
    if(!tab || tab == 'default' || tab == 'pick' || tab == 'lose')
        script(type='text/javascript').
            $(function () {
                itemListAdaptor(1);
            });
    script(type='text/javascript').
        var nameChange = function () {
            $("#user_name").addClass('hidden');
            $("#name_change_sign").addClass('hidden');
            document.getElementById("user_name_placeholder").innerHTML = document.getElementById("name-changer-template").innerHTML;
            document.getElementById("name_changer").focus();
        };
        var nameChangeSubmit = function () {
            var old_name = document.getElementById("user_name").innerHTML;
            var reg = new RegExp(old_name, 'g');
            var new_name = document.getElementById("name_changer").value;
            if (new_name.length == 0 || new_name.length > 12) {
                $("#name_changer").addClass('input-error');
                return;
            }
            if (new_name === old_name) {
                document.getElementById('user_name_placeholder').innerHTML = '';
                $("#user_name").removeClass("hidden");
                $("#name_change_sign").removeClass("hidden");
                return;
            }
            var uid = document.getElementById("userid").innerHTML;
            $.ajax({
                url: '/api/user/changeUserName?username=#{user.username}',
                type: 'POST',
                dataType: 'json',
                data: {uid: uid, name: new_name},
                async: false,
                cache: false,
                success: function (response) {
                    if (response.status) {
                        document.getElementById('user_name').innerHTML = document.getElementById('user_name').innerHTML.replace(reg, new_name);
                        document.getElementById('user_name_placeholder').innerHTML = '';
                        document.getElementById('nav_username').innerHTML = new_name;
                        $("#user_name").removeClass("hidden");
                        $("#name_change_sign").removeClass("hidden");
                        document.getElementById('user-profile-cards').innerHTML = document.getElementById('user-profile-cards').innerHTML.replace(reg, new_name);
                        document.getElementById('name-changer-template').innerHTML = document.getElementById('name-changer-template').innerHTML.replace(reg, new_name);
                        document.getElementById('_user_name').innerHTML = document.getElementById('_user_name').innerHTML.replace(reg, new_name);
                        document.title = document.title.replace(reg, new_name);
                    } else {
                        window.location.reload();
                    }
                }
            })
        };



